[Desktop Entry]
Name=Tethering Tool Wifi Hook
Type=Application
Categories=GNOME;GTK;Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Icon=/usr/share/pixmaps/thetheredtoolset_twh.png
Exec=/usr/bin/tetheringtoolset twh
Terminal=true
